body{
  margin: auto;
  font-family: 'Montserrat', sans-serif;
}
.home {
  background-image: url(../img/banner_.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  font-family: 'Ubuntu', sans-serif;
  header{
    display: flex;
    justify-content: flex-end;
    padding-top: 30px;
  }
  h4{
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
  }
}

.how-it-works{
  h2{
    font-family: 'Ubuntu', sans-serif;
  }
  .circle{
    background-color: #ff7200;
    width: 30px;
    height: 30px;
    text-align: center
  }
}

