.home header{
  display: flex;
  justify-content: flex-end
}

body{
  margin: auto
}
.home {
  background-image: url(../img/foto-divertida.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%
}